name: CI
on: push
jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: shellcheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: '.'
          severity: info
